body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    height: 100vh;
    position: relative;
}
.App {
    margin-top: 45vh;
    text-align: center;
    display: flex;
    justify-content: center;
}
.navbar__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 100px;
    border-radius: 10px;
    margin: 0 50px;
    font-size: 30px;
    background-color: lightgray;
    text-decoration: none;
}
.navbar__link:hover,
.back:hover {
    background-color: gray;
    font-size: 32px;
    font-weight: bold;
    cursor: pointer;
}
.time {
    margin-top: 45vh;
    text-align: center;
}
.back {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 30px;
    left: 20px;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    font-size: 30px;
    background-color: lightgray;
    text-decoration: none;
    margin-bottom: 20vh;
}

.weather {
    position: absolute;
    top: 0;
    right: 0;
    height: 30vh;
    width: 35vw;
    background-color: lightgrey;
    border-radius: 0 0 0 20px;
    padding: 20px;
}

input,
button,
.title,
select {
    font-size: 1.3vw;
}
.title {
    margin-right: 5vw;
}
input,
button {
    margin: 2.2vw 0;
}

.result {
    text-align: center;
    font-weight: bold;
    font-size: 2vw;
}
.hidden {
    display: none;
}
